@font-face {
  font-family: 'bi';
  src: url('@/assets/fonts/bi.woff') format('woff');
}

@font-face {
  font-family: 'DINAlternate';
  src: url('@/assets/fonts/DINAlternate.woff') format('woff');
}

body {
  margin: 0;
  color: white;
  background-color: #050505;
  font-family:
    DINAlternate,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

.n-tabs .n-tabs-rail {
  padding: 4px;
}
