@font-face {
  font-family: 'bi';
  src: url('@/assets/fonts/bi.woff') format('woff');
}

@font-face {
  font-family: 'DINAlternate';
  src: url('@/assets/fonts/DINAlternate.woff') format('woff');
}

body {
  margin: 0;
  color: white;
  background-color: #050505;
  font-family:
    DINAlternate,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

section:not(:first-child) {
  padding-top: 80px;
}

h1 {
  font-size: 46px;
  font-family: bi;
  text-align: center;
  margin-bottom: 40px;
  line-height: 1.4;
}

h1 p {
  margin: 0;
  font-size: 0.6em;
  line-height: 1;
  color: #696969;
}

.cube-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 220px);
  justify-content: center;
  gap: 20px;

  .cube {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 36px 0 20px;
  }

  .cube-idx {
    position: absolute;
    top: 5px;
    left: 16px;
    line-height: 1;
    font-family: bi;
    font-weight: bold;
    font-size: 50px;
    user-select: none;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.25) 50%, transparent);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .cube.oll .cube-idx {
    top: 2px;
    left: 8px;
  }

  .cube-svg {
    width: 140px;
    z-index: 1;
  }

  .cube-formula {
    line-height: 1.3;
    margin-top: 16px;
    font-size: 18px;
    letter-spacing: 3px;
    word-break: break-word;
  }
}

main.small {
  .cube-container {
    grid-template-columns: repeat(auto-fill, 320px);

    .cube {
      flex-direction: row;
      padding: 20px 0 20px 16px;
      gap: 20px;
    }

    .cube-idx {
      top: -8px;
      left: -8px;
      font-size: 40px;
    }

    .cube.oll .cube-idx {
      top: -12px;
      left: -12px;
    }

    .cube-svg {
      width: 80px;
    }

    .cube-formula {
      margin-top: 0;
      font-size: 18px;
    }
  }
}

.n-tabs .n-tabs-rail {
  padding: 5px;
}

.n-tabs .n-tabs-rail .n-tabs-capsule {
  transition-duration: 0.15s !important;
}
